<div class="message-text">{{message}}</div>

<div id="keyboard">
  <div class="button button-orange" (click)="getActivity()">
    <a href="#">DO IT</a>
  </div>

  <div>
    <div class="button button-dark-orange">
      <a routerLink="suggest" routerLinkActive="active">
        <span class="fa fa-pencil" aria-hidden="true"></span>
      </a>
    </div>
    <!-- facebook button -->
    <div class="button button-blue" (click)="shareActivityOnFacebook()">
      <a  href="https://www.facebook.com/" target="_blank">
        <span class="fa fa-facebook" aria-hidden="true"></span>
      </a>
    </div>
    <!-- twitter button -->
    <div class="button button-light-blue" (click)="shareActivityOnTwitter()">
      <a  href="https://www.twitter.com/" target="_blank">
        <span class="fa fa-twitter" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>